body {
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    /*background: #161616;*/
	background: linear-gradient(-45deg, #252525, #000000, #252525, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; 
}
/*fondo animado*/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*marca de agua*/
.mark {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 35vw;
    text-align: top left;
    margin: 0;
    overflow: hidden;
    opacity: 0.03;
    color: #ffffff;
}

 /*sección*/
.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 6rem 1fr 6rem;
    grid-template-rows: auto;
    grid-template-areas: 
    "main section nav";

}

.section {
    grid-area: section;
    color: #ffffff;
    font-size: 6.2rem;
    place-self: center end;
}

.section p strong {
    color: #fd5457;
    margin-left: -1.5rem;
    background-color: rgba(0, 0, 0, 0);
}

.nav {
    grid-area: nav;
    align-self:center;
    background-color: rgba(0, 0, 0, 0);
}

a:link {
    text-decoration: none;
}

.nav ul li a {
    color: #ffffff;
    font-family: monospace;
    font-size: 1.2rem;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    writing-mode: vertical-lr;
    transform:rotate(180deg);
    padding: 20px 10px;
}

.main {
    grid-area: main;
    color: #ffffff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: end;
    background-color: rgba(0, 0, 0, 0);
}

.main p {
    padding: 8rem 1rem ;
    background-color: rgba(0, 0, 0, 0);
}

/*movil*/
/*Portrait*/
/*Default*/
@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        height: 100%;
        background: linear-gradient(-45deg, #252525, #000000, #252525, #000000);
        background-size: 200% 200%;
        animation: gradient 7s ease infinite; 
    }

    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3rem 1fr 7rem;
        grid-template-areas:
        "nav"
        "section"
        "main";
    }

    .section {
    }

    .nav{
        margin-left:-30px
    }

    .nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

    }
    

    .nav ul li {
        list-style-type: none;
        writing-mode: unset;
        transform: rotate(0);
        padding: 0px 5px;
    }

    .main {
        writing-mode: unset;
        transform: rotate(0deg);
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
    }
}